
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey: Courses</title>
</head>
<body>
  <h1> Select electives (with no prereqs) that <i>must</i> be in your schedule. </h1>
  <form method = "post" action = "/form">
    <input type="checkbox" id="programming" name="programming" value="programming">
    <label for="programming"> Intro to Programming</label><br>

    <input type="checkbox" id="journalism" name="journalism" value="journalism">
    <label for="journalism"> Intro to Journalism</label><br>

    <input type="checkbox" id="art" name="art" value="art">
    <label for="art"> 2D Studio foundations</label><br>

    <input type = "submit" value= "Submit">
  </form>
</body>
</html>
-->